@import "normalize.css";
@import "roboto-font/roboto-fontface.scss";

$grey: #161d26;
$red: #F44336;

$sub-header-size: 3em;
$mobile-break: 768px;

body {
  background: #111;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: url("https://esi.tech.ccp.is/ui/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-weight: 300;
}

/**
 * WARNING
 */
.warning {
  position: absolute;
  top: 55px;
  margin-top: 3em;
  width: 80%;
  background: #FF5722;
  color: $grey;
  align-self: center;
  font-weight: 500;

  p {
    margin: 1em;


    a {
      color: $grey;
      text-decoration: none;
      transition: 200ms ease;
      border-bottom: 2px solid transparent;
      border-bottom: 2px solid $grey;

      &:hover {
        color: #3f3f3f;
        border-bottom: 2px solid #3f3f3f;
      }
    }
  }

  @media only screen and (max-width: $mobile-break) {
    width: 100%;
  }

}

/**
 * NAVBAR
 */
nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 1em;
  margin: 0.5em 10%;
  justify-content: space-between;

  @media only screen and (max-width: $mobile-break) {
    margin: 0.5em 0;
  }

  * {
    align-self: center;
  }

  .status {
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: 1.1em;

    > * {
      margin-right: 1em;
    }

    > a {
      text-decoration: none;
      color: #f3f3f3;
    }

    .alpha {
      color: $red;
    }
  }

  .links {
    display: flex;
    flex-direction: row;

    a {
      font-size: 1.25em;
      color: #f3f3f3;
      text-decoration: none;
      transition: 200ms ease;
      padding: 0.25em;
      border-bottom: 2px solid transparent;
      font-weight: 300;
      margin-left: 1em;

      &:hover {
        border-bottom: 2px solid #f3f3f3;
      }
    }
  }
}

/**
 * CONTENT
 */
.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  > * {
    margin: 3.5em 0 0;
  }
  > *:last-child {
    margin: 3.5em 0 7em;
  }

  .full-height {
    height: 100vh;

    &:first-child {
      height: calc(100vh - 55px);
      margin-top: 0;
    }
  }

  /**
   * HERO
   */
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;

    * {
      align-self: center;
      margin: 0;
    }

    small {
      font-size: 0.4em;
      align-self: flex-end;

      @media only screen and (max-width: $mobile-break) {
        align-self: center;
      }

      &.alpha {
        color: $red;
      }
    }

    .header {
      display: flex;
      flex-direction: row;
      font-weight: 200;
      font-size: 5em;

      @media only screen and (max-width: $mobile-break) {
        flex-direction: column;
      }
    }
    .sub-header {
      margin-top: 1em;
      font-weight: 200;
      font-size: $sub-header-size;
      text-align: center;
    }
  }

  /**
   * TEXT
   */
  .text {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;

    .text-header {
      font-size: $sub-header-size;
      font-weight: 200;
      align-self: center;
    }

    .text-wrap {
      display: flex;
      flex-direction: column;
      align-self: center;
      background: $grey;
      max-width: 70%;
      padding: 1em 2em;

      @media only screen and (max-width: $mobile-break) {
        max-width: 100%;
      }

    }
  }

  /**
   * FEATURE
   */
  .feature {
    margin-left: 30%;

    @media only screen and (max-width: $mobile-break) {
      display: flex;
      flex-direction: row;
      margin-left: 15%;

      .feature-wrap {
        max-width: 80%;
        align-self: center;

        .feature-text {
          max-width: 100%;
        }
      }
    }

    .feature-wrap {
      display: flex;
      flex-direction: row;
    }

    .feature-text,
    .feature-icon {
      display: inline-block;
      align-self: center;
    }

    .feature-text {
      font-size: 1.5em;
      margin: 0 0 0 1em;
      text-shadow: 0 0 1em #000;
      max-width: 35%;
    }

    .feature-icon {
      padding: 1em;
      font-size: 2em;
      border-radius: 50%;
      background: $grey;
    }
  }
}

/**
 * FOOTER
 */
footer {
  display: flex;
  flex-direction: column;
  background: $grey;
  padding: 2em 2em 1em;

  > * {
    align-self: center;
  }

  h3 {
    font-weight: 300;
    font-size: 2em;
    margin: 0 0 1em;
  }

  a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 300;
    color: #f3f3f3;
    border-bottom: 2px solid #f3f3f3;
  }

  .copyright {
    margin-top: 5em;
    font-size: 0.8em;

    a {
      font-size: 0.8em;
      border-bottom: none;
      text-decoration: underline;
    }
  }
}
